

client/node_modules/
client/dist/
client/build/

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

server/venv/
server/__pycache__/
server/**/*.pyc
server/.env

.env
.env.local
.env.development
.env.production

.DS_Store
Thumbs.db

.vscode/