#performance_pg {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 100px; /* Adjust based on your bottom bar height */
}

#performance_overview > div {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 3rem;
  flex-wrap: wrap;
}



#performance_overview p {
  font-size: 1.3rem;
  font-weight: 600;
}

#performance_overview > div > p {
  flex: 1;
  min-width: 250px;
  line-height: 1.7;
}

.overview_content {
  /* border: solid #ffffff2a; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.overview_chart {
  flex-shrink: 0;
  /* width: 100%; */
}

.overview_info {
    height: fit-content;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #473f3f41;
}

@media (max-width: 768px) {
  .overview_content {
    flex-direction: column;
    text-align: center;
  }

  .overview_chart {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

#performance_targets > div:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

#performance_targets article {
  flex: 1 1 280px;
  max-width: 380px;

  padding: 1rem;

  /* border: 1px solid #e6e6e6; */
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: rgba(255, 255, 255, 0.058);
}

#performance_targets article > div:first-child {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#performance_targets img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

#performance_targets article > div:last-child {
  width: 100%;
}

#peformance_pg {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#pie {
  /* border: solid rgba(255, 255, 255, 0.085) 2px; */
}

#performance_targets {
  margin-bottom: 100px;
}

#performance_targets:last-child {
  padding-bottom: 100px;
}

.stats article{
    display: flex;
    gap: 0.42rem;
}